* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel Decorative", cursive;
  color: #f9f9f9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 35px;
}

.logo {
  width: 225px;
  height: 225px;
  border: 2px solid #f9f9f9;
  border-radius: 50%;
  box-shadow: 5px 2px 15px red;
}

.card {
  width: 145px;
  height: 200px;
  transform: rotateY(180deg);
}

.back {
  width: 145px;
  height: 200px;
  cursor: pointer;
  border-radius: 5px;
  /* border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 3px; */
  border: 1px solid #f9f9f9;
  box-shadow: 1px 1px 5px white;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
}

.counters {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music {
  display: absolute;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn {
  color: black;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  height: 25px;
}

.card-name {
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);
  /* visibility: hidden; */
}

.rules {
  position: absolute;
  bottom: 0;
}

.title-container {
  position: relative;
  text-align: center;
}

.menu {
  text-align: center;
}

.back.flipped {
  transform: rotateY(180deg);
}

#gameOver,
#winGame {
  color: red;
  text-align: center;
  display: absolute;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /* visibility: hidden; */
  /* transition-duration: 2s;
  opacity: 1;
  transition: opacity 1s ease-in-out; */
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

h1,
.lose {
  color: red;
}

.win {
  color: green;
}

/* audio::-webkit-media-controls-panel
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button */

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-mute-button {
  display: none;
}
